.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  border: 2px solid black;
  margin: 10px 0 0;
  padding: 10px 0 0;
}

.blog-first-row:hover {
  cursor: pointer;
}

/*Userlist*/

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 500px;
}

/*navbar*/

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar #links a {
  padding-right: 20px;
}
